.fill-screen {
    width: 100%;
    height: 100%; 
    position: absolute;
    top: 1;
    left: 0;
}

.fill-screen-height {
    height: 100%;
}

.center-text {
    text-align: center;
}
.card {
    margin: 8%;
}

.grey-italic-text {
    color: 	#909090;
    font-style: italic;
}

.white{
    color: white;
}

.white-line {
    border-top: 1px solid grey;
    margin-top: 0;
    margin-bottom: 0;
}

.logo{
    opacity: 1;
    transition: 0.5s;
}

.logo:hover {opacity: 0.6}

.spotify-logo{
    color: #1db954;
    transition: 0.5s;
}   

.spotify-logo:hover{
    opacity: 0.6;
}

#jumbotron {
    background: radial-gradient(circle, rgba(75,72,78,1) 0%, rgba(17,17,17,1) 98%);
    height: 100%;
    color: white;
}

#about {
    background-color: rgb(255, 255, 255, 10);
    color: black;
    height: "100%";
}


/* upper portion of footer */
#footer-upper {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
}

/* bottom portion of footer */
#footer-bottom {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
}

